[Unit]
Description=Acquire LiDAR data
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/data/LIVOX/SnowyOwlAquisition_Finse.py

[Install]
WantedBy=network.target
