[Unit]
Description=Acquire LiDAR data
After=network.target

[Service]
ExecStart=/usr/bin/bash /home/livoxpi/git/SnowyOwl/app/systemd_Files/systemdAquisition.sh

[Install]
WantedBy=network.target
