[Unit]
Description=Process LiDAR data
After=network.target

[Service]
ExecStart=/usr/bin/bash /home/data/LIVOX/SnowyOwlProcessing_Finse.sh

[Install]
WantedBy=network.target
